  <nav class="flex flex-row items-center justify-between px-2 py-2">
    <ul class="flex flex-row">
      <li class="mx-3"><a routerLink="">Accueil</a></li>
      <li class="mx-3"><a routerLink="">Les tâches</a></li>
      <li class="mx-3"><a routerLink="">Les catégories</a></li>
    </ul>
    <div class="flex flex-row items-center">
      <p>Bienvenue #Name#</p>
      <a routerLink="/login" class="btn primary">Se connecter</a>
      <button class="btn primary">Se déconnecter</button>
    </div>
  </nav>
