/* Appliquer une mise en page de base */
section {
  width: 100%;
  max-width: 400px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h4 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Mise en forme du formulaire */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"] ,
input[type="password"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Espacement entre les champs */
input[type="text"] + label {
  margin-top: 15px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Ajout d'une animation de survol sur le bouton */
button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.error{
  color: red;
}
