body {
    margin: 0;
    padding: 0;
}

.galery {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.galery img {
    width: 30%;
}

.img-popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.834);
    position: absolute;
    top : 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-popup img {
    max-width: 70%;
}

.hidden {
    display: none;
}



