<div class="h-screen w-screen bg-white z-10 absolute top-0 flex justify-center items-center">
  <div class="w-2/5">
    <img src="assets/images/connexionLogo.svg" alt="imgConnexion" draggable="false">
  </div>
  <form class="flex flex-col items-center justify-center h-1/2 w-2/6 shadow-2xl shadow-secondary-700 m-20">
    <div class="m-2 p-2">
      <input type="text" placeholder="Login" class="">
    </div>
    <div class="m-2 p-2">
      <input type="password" placeholder="Password" class="">
    </div>
    <a routerLink="/register" class="p-2">S'inscrire ?</a>
    <a routerLink="/" class="m-2 p-2">Retour à l'accueil</a>
    <button class="btn primary">Se connecter</button>
  </form>
</div>
